@charset "UTF-8";
/**
CSS Rougemont 2.0


La plice de base, notamment pour la lecture des textes, sera sans-serif.
L'inclusion de polices externes pour les titres est bienvenue, pour le texte,
il faut s'assurer que cela ne ralentisse jamais l'affichage.

 */

body {
  font-family: "Open Sans", "Ubuntu", "Calibri", "Segoe UI", Avenir, Helvetica, sans-serif;
  font-size: 14pt;
}

section.bimage .desc,
nav.news,
section.banner h1 {
  background: #EEE;
}

a {
  color: #0563C1;
}

nav.news a {
  color: #666;
}


/* Couleur de contraste */
.motto,
.rubric,
a.intern {
  color: #C00000;
}

/**
 * Global
 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
  background: #FFF;
}

html, body {
  height: 100%;
  margin: 0;^
  padding: 0;
}

main {
  margin: 0 2rem;
}

/* “float fix” pour bien fermer les boîtes qui contiennent des objets flottants */
section::after,
.floatfix::after,
div.bottom::after {
  content: "";
  clear: both;
  display: table;
}

small.credit {
  text-transform: uppercase;
}
/*
Barre de tête
*/

#header h1 {
  text-align: center;
}

#headnav {
  margin: 0.5rem 2rem;
}

nav.toprub a {
  color: #000;
}

nav.toprub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
}

nav.toprub a.logo {
  width: 15%;
}

nav.toprub a {
  display: inline;
  vertical-align: bottom;
  padding: 0 0.5rem;
  padding: 0 0.5rem;
}

.motto {
  margin-top: -1.5rem;
}

/*
Bas de page
*/

#footer {
  padding-bottom: 4rem;
}

div.bottom {
  margin: 0 2rem 2rem 2rem;
}

div.bottom > nav {
  width: 25%;
  float: left;
}

div.bottom > nav h4 {
  margin-top: 0;
}

div.bottom > nav > a {
  display: block;
}
/*
 Page d'accueil
*/

section.front {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 6rem;
  justify-content: center;
  justify-content: space-between;
}

section.front img {
  width: 60%;
  align-self: flex-end;
}

section.front nav.news {
  width: 30%;
  padding: 0.2rem 1rem;
  align-self: flex-start;
}

section.front nav.news a {
  display: block;
}


section.banner {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

section.banner img.banner {
  width: 100%;
}

section.banner h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

section.banner footer {
  border-bottom: 1px solid #000;
  display: table;
  width: 100%;
}

section.banner footer nav {
  display: table-row;
}
section.banner footer a {
  display: table-cell;
  text-align: center;
  padding: 0 0.5rem 0.4rem 0.5rem;
}

section.banner footer a.left {
  border-right: 1px solid #000;
}
section.banner footer a.right {
  border-left: 1px solid #000;
}

/* cas particulier ? */
div.biflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.logomotto {
  margin-right: 2rem;
  min-width: 20rem;
}
/*
 Liste carroussel de couvertures
 en page d'accueil
*/

nav.covers {
  overflow: auto;
  white-space: nowrap;
}

nav.covers a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}



/*
Accueil Livres
 Table des couvertures
*/

section.bimage {
  display: flex;
}

section.bimage .desc {
  padding: 1rem;
}


section.bimage figure {
  width: 60%;
  padding-right: 2rem;
}

section.bimage figure img {
  width: 100%;
}

table.sortable caption {
  text-align: left;
}

table.thumbs {
  width: 100%;
}

td.cover {
  text-align: center;
  vertical-align: middle;
}

td.cover img {
  height: 300px;
}

table.thumbs thead, table.thumbs tfoot {
  display: none;
}

table.thumbs tbody {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: none;
}


/* La table “sotable” génère automatiquement des classes qui ne sont pas pertinentes en vue vignette */
table.thumbs tr.even, table.thumbs tr.odd, table.thumbs tr.odd td, table.thumbs tr.even td, table.thumbs tr.mod3 td, table.thumbs tr.mod5 td, table.thumbs tr.mod10 td {
}


table.thumbs tbody tr {
  position: relative;
  display: block;
  width: 300px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px #AAA solid;
  background: #FFF;
}

table.thumbs {
  background: #EEEEEE;
}

table.thumbs tbody tr.V2 {
  background: #EEEEEE ;
  border-color: transparent;
}

table.thumbs tr.V2 img {
  opacity: 0.2;
}

table.sortable td.cover, table.sortable th.cover {
  display: none;
}

table.thumbs td.cover {
  display: block;
}

table.thumbs th.cover {
  display: table-cell;
}

table.thumbs tbody td {
  display: block;
  border: none !important;
  box-shadow: unset !important;
}

table.thumbs td.year {
  position: absolute;
  color: #000;
  top: 4px;
  width: 4rem;
  left: 50%;
  margin-left: -2rem;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.7) !important;
}

table.thumbs td.title {
  height: 1.2rem;
  overflow: hidden;
}

table.thumbs td.publisher {}

/** Menu hiérarchique */
.menubar {
  width: 100%;
}

.menubar, .menubar a {
  background: #888;
  color: #FFFFFF;
}

.menubar a:hover {
  background: #333;
}

.menubar ul {
  cursor: default;
}

.menubar #qform {
  text-align: right;
}

.menubar ul, .menubar li {
  margin: 0;
  padding: 0;
}

.menubar ul {
  list-style: none;
  width: 100%;
}

.menubar li {
  float: left;
  position: relative;
  width: auto;
}

.menubar a {
  text-decoration: none;
  display: block;
  padding: 2px 1ex;
}

.menubar ul ul {
  width: auto;
  left: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.menubar ul ul li {
  width: auto;
  float: none;
}

.menubar li:hover ul {
  opacity: 1;
  visibility: visible;
}

.menubar ul ul a:hover {}

.menubar ul ul a {}
