@charset "UTF-8";
/**
CSS Rougemont 2.0


La police de base, notamment pour la lecture des textes, sera sans-serif.
L'inclusion de polices externes pour les titres est bienvenue, mais pour le texte,
il faut s'assurer que cela ne ralentisse jamais l'affichage.

 */

body {
  font-family: "Open Sans", "Ubuntu", "Calibri", "Segoe UI", Avenir, Helvetica, sans-serif;
  font-size: 14pt;
}

.epigraph {
  font-family: Georgia, Palatino, serif;

}

/* Fond encadré hors flux, “gris” */
nav.toclocal .here, /* dans la toc, “vous êtes ici” */
section.bimage .desc, /* encadré accueil */
nav.news, /* encadré news à l'accueil */
ul.menubar a:hover, /* lien au survol dans la barre de menu */
section.banner h1, /* barre de titre dans les encadrés à l'accueil */
table.thumbs, /* table des livres, fond gris provisoire */
div.bookfront article, /* 4e de l'éditeur en couverture de livre */
table.thumbs tbody tr.V2, /* table des livres, pas encore  */
.menubar .V2, /* barre de menu haut, section V2 */
.grey
{
  background: #EEE;
}

nav.news a, /* lien dans les news */
.menubar .V2 a,
.grey a
{
  color: #666;
}

/* Fond clair à forcer */
figure, /* conteneur d'image */
#header, /* entête de page qui doit passer par dessus la toc */
ul.menubar ul, /* plaque de la barre de menu */
main > header, /* entête de contenu qui doit passer par dessus la toc */
#footer, /* pied de page qui doit passer par dessus la toc */
.white
{
  background-color: #FFFFFF;
}

/* Couleur forte, un rouge ? */
.motto, /* le slogan */
a.intern, /* lien interne au site */
a.pb, /* No d epag et lien à l'image de page */
.rubric /* du latin ruber «rouge» */
{
  color: #C00000;
}

/* Couleur faible, au choix */
main > header, /* titre de contenu */
a /* lien par défaut */
{
  color: #0563C1;
}

/* filets forts */
#header, /* tête de page */
main > header, /* titre de contenu */
header.bibl, /* cadre bibliographique en tête de texte */
#footer, /* pied de page */
.border-strong
{
  border-color: #C00000;
  border-width: 0.2px;
}

/* filets faible */
ul.menubar ul, /* plaque de la barre de menu */
.border-light
{
  border-color: #CCC;
  border-width: 1px;
}


/**
 * Global
 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
  background: #FFF;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 2rem;
}

/* “float fix” pour bien fermer les boîtes qui contiennent des objets flottants */
section::after,
.floatfix::after,
div.bottom::after,
.textwin::after {
  content: "";
  clear: both;
  display: table;
}

small.credit {
  text-transform: uppercase;
}

/*
 *  Barre de tête
 */
#footer,
main > header,
#header {
  position: relative; /* pour gérer les superpositions */
}

#header {
  z-index: 5;
}

main > header {
  z-index: 4;
  border-bottom-style: solid;
  padding-bottom: 1rem;
}


header {
  margin: 0;
}

#header h1 {
  text-align: center;
}

#headnav {
  margin: 0 2rem;
  padding: 0.5rem 0;
}

#headnav a {
  color: #000;
}

#headnav .motto {
  margin-top: -1.5rem;
}

ul.menubar img.logo {
  width: 200px;
}

ul.menubar, ul.menubar li, ul.menubar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menubar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
}

ul.menubar .V2 a {
  color: #999;
  font-style: italic;
  font-weight: 100;
}

ul.menubar a {
  text-decoration: none;
  display: block;
  padding: 2px 0.5rem;
}

ul.menubar ul /* plaque de menu */
{
  display: none;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
}

ul.menubar li:hover ul /* plaque de menu au survol */
{
  opacity: 1;
  display: block;
  position: absolute;
}


/*
Bas de page
*/

#footer {
  margin: 2rem 0 0 0;
  padding: 1rem 2rem 1rem 2rem; /* marges de <main> */
  border-top-style: solid;
}


div.bottom > nav {
  width: 25%;
  float: left;
}

div.bottom > nav h4 {
  margin-top: 0;
}

div.bottom > nav > a {
  display: block;
}

#gotop {
  font-size: 3em;
  line-height: 55%;
  border-bottom: none;
  position: fixed;
  color: rgba(150, 150, 150, 0.5);
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

#gotop:hover {
  color: rgba(150, 150, 150, 1);
}

/*
 Page d'accueil
*/

section.front {
  height: 500px;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 6rem;
  justify-content: space-between;
}

section.front iframe {
  width: 65%;
  overflow: hidden;
}

section.front nav.news {
  width: 30%;
  padding: 0.2rem 1rem;
}

section.front nav.news a {
  display: block;
}


section.banner {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

section.banner img.banner {
  width: 100%;
}

section.banner h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

section.banner footer {
  border-bottom: 1px solid #000;
  display: table;
  width: 100%;
}

section.banner footer nav {
  display: table-row;
}
section.banner footer a {
  display: table-cell;
  text-align: center;
  padding: 0 0.5rem 0.4rem 0.5rem;
}

section.banner footer a.left {
  border-right: 1px solid #000;
}
section.banner footer a.right {
  border-left: 1px solid #000;
}

/* cas particulier ? */
div.biflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.logomotto {
  margin-right: 2rem;
  min-width: 20rem;
}
/*
 Liste carroussel de couvertures
 en page d'accueil
*/

nav.covers {
  overflow: auto;
  white-space: nowrap;
  background-color: #EEE;
}

nav.covers a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin: 0;
}

nav.covers a img {
  opacity: 0.3;
}

nav.covers a[href] {
  background-color: #FFF;
}

nav.covers a[href] img {
  opacity: 1;
}

/*
Accueil Livres
 Table des couvertures
*/

section.bimage {
  display: flex;
}

section.bimage .desc {
  padding: 1rem;
}


section.bimage figure {
  width: 60%;
  padding-right: 2rem;
}

section.bimage figure img {
  width: 100%;
}

table.sortable caption {
  text-align: left;
}

table.thumbs {
  width: 100%;
}

td.cover {
  text-align: center;
  vertical-align: middle;
}


table.thumbs thead, table.thumbs tfoot {
  display: none;
}

table.thumbs tbody {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: none;
}


/* La table “sotable” génère automatiquement des classes qui ne sont pas pertinentes en vue vignette */
table.thumbs tr.even, table.thumbs tr.odd, table.thumbs tr.odd td, table.thumbs tr.even td, table.thumbs tr.mod3 td, table.thumbs tr.mod5 td, table.thumbs tr.mod10 td {
}

table.thumbs tbody tr {
  position: relative;
  display: block;
  width: 300px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px #AAA solid;
  background: #FFF;
}


table.thumbs tbody tr.V2 {
  border-color: transparent;
}
table.thumbs tr.V2 img {
  opacity: 0.5;
}


table.thumbs tr.V2 td.title,
table.thumbs tr.V2 td.publisher,
table.thumbs tr.V2 td.year {
  display: none;
}

table.sortable td.cover, table.sortable th.cover {
  display: none;
}

table.thumbs td.cover {
  display: block;
}

table.thumbs th.cover {
  display: table-cell;
}

table.thumbs tbody td {
  display: block;
  border: none !important;
  box-shadow: unset !important;
}

table.thumbs td.year {
  position: absolute;
  color: #000;
  top: 4px;
  width: 4rem;
  left: 50%;
  margin-left: -2rem;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.7) !important;
}

table.thumbs td.title {
  height: 1.2rem;
  overflow: hidden;
}

table.thumbs td.publisher {}

/** Page d'accueil d'un livre */

div.bookfront {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

div.bookfront nav.toclocal {
  align-self: start;
}
div.bookfront article {
  min-width: 25%;
  max-width: 50%;
  padding: 0 2rem;
  margin: 0 2rem;
}
div.bookfront figure {
}

div.bookfront .epigraph {
  font-size: 150%;
  font-style: italic;
  text-align: center;
  font-weight: 100;
}

div.bookfront h1 {
  font-weight: 600;
  font-size: 95%;
  text-align: left;
}

/** Lecture d'un chapitre */

main > header {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 170%;
  /* forcer la hauteur, sinon bouscule tout en dessous, bull au survol */
  height: 2em;
  margin-bottom: 2rem;
  overflow: hidden;
}

/* Référence bibliographique pour le chapitre */
article > header.bibl {
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 0 0.5rem 2rem;
}

div.textwin {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
}

div.textwin article {
  max-width: 50rem;
  margin-left: 25rem;
}

div.textwin nav.toclocal {
  position: fixed;
  float: left;
  width: 23rem;
  overflow: auto;
  bottom: 0;
  top: 0;
  padding-top: 10rem; /* laisser la place au bandeau */
  /* padding bottom ne marche pas ici */
}


nav.toclocal > ul {
  margin: 0 0 15rem 0; /* mettre du blanc en bas pour le pied de page */
}

nav.toclocal li {
  list-style: none;
  line-height: 105%;
  margin-top: 0.7ex;
  margin-bottom: 0.7ex;
  padding: 1px 0.2rem 1px 5px;
}

nav.toclocal a {
  display: block;
  padding: 0 0 0 0.5rem;
}

nav.toclocal a:hover {
  outline: none;
  background: #FFFFFF;
}

nav.toclocal a:focus {
  background: #FFFFFF;
}

/*
 * Surcharges Teinte pour le texte
 */
p.p {
  text-indent: 0;
  margin: 0.7rem 0;
  text-align: left;
}
.pb, .ed {
  padding: 1px 2px 1px 2px;
  position: static;
}
