@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

@font-face {
  font-family: 'Didot';
  font-style: normal;
  font-weight: normal;
  src: local('Didot'),
    url('/static/fonts/Didot-HTF-M42-Medium.ttf') format('ttf'),
}

@font-face {
  font-family: 'Didot';
  font-style: italic;
  font-weight: normal;
  src: local('Didot'),
    url('/static/fonts/Didot-HTF-M42-Medium-Ital.ttf') format('ttf'),
}

@font-face {
  font-family: 'Didot';
  font-style: normal;
  font-weight: bold;
  src: local('Didot'),
    url('/static/fonts/Didot-HTF-B06-Bold.ttf') format('ttf'),
}

@font-face {
  font-family: 'Didot';
  font-style: normal;
  font-weight: bold;
  src: local('Didot'),
    url('/static/fonts/Didot-HTF-B06-Bold-Ital.ttf') format('ttf'),
}

/**
 * Global
 */
html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #FEF9F6;
  font-family: 'Anonymous Pro', monospace;
}

* {
  box-sizing: border-box;
}

/** Global disposition */
#header {
  position: relative;
  z-index: 2;
  margin-top: 1.5em;
}

#top {
  position: fixed;
  top: 0;
  width: 100%;
}

#footer {
  margin-top: auto;
  height: 100px;
  padding: 1ex;
}

#main {
  margin-left: auto;
  margin-right: auto;
}

#toc {
  padding-top: 2em;
  max-width: 30ex;
  margin-left: -32ex;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #FEF9F6;
}

#content {}

body.text #content {
  width: 80ex;
  font-family:
}

h1, h2, h3, h4, h5, h6, .label {
  font-weight: normal;
  font-variant: small-caps;
}

#footer {
  position: relative;
  z-index: 2;
}

/** Global colors and fonts */
.menu, #header, #footer {
  font: 16px/24px sans-serif;
}

#header, #footer {
  background: #CCC;
}

#content {
  padding: 2em;
  background-color: #FFF;
}

.menu, .menu a {
  background: #888;
  color: #FFFFFF;
}

.menu a:hover {
  background: #333;
}

/** Top menu : colors and functions */
.menu {
  width: 100%;
}

.menu ul {
  cursor: default;
}

.menu #qform {
  text-align: right;
}

.menu ul, .menu li {
  margin: 0;
  padding: 0;
}

.menu ul {
  list-style: none;
  width: 100%;
}

.menu li {
  float: left;
  position: relative;
  width: auto;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 2px 1ex;
}

.menu ul ul {
  width: auto;
  left: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.menu ul ul li {
  width: auto;
  float: none;
}

.menu li:hover ul {
  opacity: 1;
  visibility: visible;
}

.menu ul ul a:hover {}

.menu ul ul a {}

/** List of books */
table.sortable caption {
  text-align: left;
}

table.thumbs {
  width: 100%;
}

td.cover {
  text-align: center;
  vertical-align: middle;
}

td.cover img {
  height: 300px;
}

table.thumbs thead, table.thumbs tfoot {
  display: none;
}

table.thumbs tbody {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: none;
}

/* Sotables has automatic classes */
table.thumbs tr.even, table.thumbs tr.odd, table.thumbs tr.odd td, table.thumbs tr.even td, table.thumbs tr.mod3 td, table.thumbs tr.mod5 td, table.thumbs tr.mod10 td {}

table.thumbs tbody tr {
  position: relative;
  display: block;
  width: 300px;
  text-align: center;
  background: #EEEEEE;
  border: 1px #CCCCCC solid;
  margin-top: 5px;
  margin-bottom: 5px;
}

table.sortable td.cover, table.sortable th.cover {
  display: none;
}

table.thumbs td.cover {
  display: block;
}

table.thumbs th.cover {
  display: table-cell;
}

table.thumbs tbody td {
  display: block;
  border: none !important;
  box-shadow: unset !important;
}

table.thumbs td.year {
  position: absolute;
  color: #000;
  top: 4px;
  width: 4rem;
  left: 50%;
  margin-left: -2rem;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.7) !important;
}

table.thumbs td.title, table.thumbs td.title a {}

table.thumbs td.publisher {}
